@media only screen and (max-width: 720px) {
    canvas {
        width: 100vw;
        border-radius: 0;
    }

    #startScreen {
        width: 100vw;
        height: 410px;
        background-size: 100vw 100%;
        border-radius: 0;
    }

    #loadingScreen{
        height: 410px;
    }
}

@media only screen and (max-width: 640px){
    .imagesInStoryDiv{
        display: none;
    }
}

@media only screen and (max-width: 530px) {
    #rotateDeviceOverlay {
        display: flex;
    }
}

@media only screen and (max-width: 530px) and (orientation: landscape) {
    #rotateDeviceOveray {
        display: none;
    }
}

@media only screen and (max-height: 480px) {

    canvas,
    #startScreen {
        height: 100vh;
    }

    h1 {
        display: none;
    }

    .imagesInStoryDiv{
        display: none;
    }
}